<body class="home">
<!--[if lt IE 7]>
	<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->
<div class="body"> 
	<!-- Start Site Header -->
	<header class="site-header">
    	<div class="container-spec">
            <div class="row text-align-left">
        	<div class="site-logo">
            <h1>
                <%= image_tag('isic15-logo.png', alt: 'logo') %>
            </h1>
            </div>
            <!-- Main Navigation -->
            <nav class="main-navigation" role="navigation">
                <ul class="sf-menu">
                    <li class="highlight"><a href="#home">ISIC-15</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#schedule">Schedule</a></li>
                    <li><a href="#venue">Venue</a></li>
                    <li><a href="#speakers">Staff</a></li>
                    <li><a href="#partners">Partners</a></li>
                    <li><a href="#media">Media</a></li>
                </ul>
            </nav>       
            <a href="#" class="visible-sm visible-xs" id="menu-toggle"><i class="fa fa-bars"></i></a>
    	</div>
	</header>
	<!-- End Site Header -->
    <!-- Showcase -->
    <div class="showcase wheighter">
        <!-- Start Hero Slider -->
        <div class="hero-slider flexslider wheighter" data-autoplay="yes" data-pagination="no" data-arrows="no" data-style="fade" data-speed="5000" data-pause="yes">
            <ul class="slides">
            <li class=" parallax parallax1 wheighter" style="background-image:url(http://i1031.photobucket.com/albums/y380/jeremywade10/header1_zps31vjng4v.jpg)">
            </li>
            <li class=" parallax parallax2 wheighter" style="background-image:url(http://i1031.photobucket.com/albums/y380/jeremywade10/header3_zpsvn2k2gvb.jpg)"></li>

            </ul>
        </div>
        <!-- End Hero Slider -->
        <div class="event-hero-info">
        	<div class="container">
                <div class="event-info">
                     <span class="fl" data-appear-animation="fadeInDown" data-appear-animation-delay="200">International Social Innovation Challenge</span>
                    <span class="sl" data-appear-animation="zoomIn" data-appear-animation-delay="500">ISIC-15</span>
                    <span class="tl" data-appear-animation="fadeInDown" data-appear-animation-delay="700"><strong>at OP Jindal Global University - Delhi NCR, India</strong> <br> with University of Southampton & Lahore University of Management Sciences </span>
                    <span class="event-date" data-appear-animation="fadeInUp" data-appear-animation-delay="900">August 22-31st, 2015</span>
                    <div class="spacer-20"></div>
                </div>
           	</div>
        </div>
    </div>
    <!-- Start Body Content -->
  	<div class="main" role="main">
    	<div id="content" class="content full">
            <!-- About Section Content -->
            <section class="onepage-section" id="about">
                <div class="container">
                    <header class="onepage-section-headers text-align-center">
                        <h3 class="page-title">About</h3>
                        <h2 class="page-stitle">Around the world the social enterprise movement is growing. Social enterprises have demonstrated how innovative new models can address our biggest social problems, while creating jobs and sustainable growth. Developing the social enterprise sector in India has the potential to transform millions of lives, and those of women in particular. ISIC-15 will bring together top students from India, Pakistan, and the UK to create positive social impact in India, and beyond, by designing scalable models for women's safety and empowerment.  </h2>
                    </header>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="videoWrapper">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/5CM52Sx2XnY" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-md-6 sm-push-top">
                            <h3 class="text-align-right">FAQs</h3>
                            <p class="text-align-right"></p>
                            <div class="accordion" id="toggleArea">
                              <div class="accordion-group panel">
                                <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseOne"> Who are the participants? <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a> </div>
                                <div id="collapseOne" class="accordion-body collapse">
                                  <div class="accordion-inner"> The participants are 30 competitively selected University students from India, Pakistan and the UK.  </div>
                                </div>
                              </div>
                              <div class="accordion-group panel">
                                <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseTwo"> What are the program details? <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a> </div>
                                <div id="collapseTwo" class="accordion-body collapse">
                                  <div class="accordion-inner"> The 10-day event will include: <br>
                                • Introduction to the basic principles of social innovation and entrepreneurship <br>
                                • Social design workshops including issue immersion, ideation, prototyping and delivery phases <br>
                                • Orientation to the Indian social enterprise landscape <br>
                                • Cultural exchanges and immersions <br>
                                • Introduction to use of digital channels and the web for social innovation </div>
                                </div>
                              </div>
                              <div class="accordion-group">
                                <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseThird"> When is the ISIC-15? <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a> </div>
                                <div id="collapseThird" class="accordion-body collapse">
                                  <div class="accordion-inner"> The dates are August 22nd - August 31st. </div>
                                </div>
                              </div>
                            </div>
                            <!-- End Toggle --> 
                        </div>
                    </div>
                    <div class="spacer-50"></div>
                </div>
                        <!-- Schedule Section --> 
                       <section class="onepage-section" id="schedule">
                <div class="lgray-bg padding-tb50">
                <div class="container">
                    <header class="onepage-section-headers text-align-center">
                        <h3 class="page-title">Schedule</h3>
                         <p class="lead"><strong>ISIC-15,</strong> A “collab-etiton” bringing together top students from India, Pakistan and the UK to design solutions to the pressing global social challenge of empowering women through safer communities. </p>
                        <h2 class="page-stitle"></h2>
                        <a href="images/ISIC15.pdf" target="_blank" class="btn btn-primary btn-lg">Download Schedule PDF</a>
                    </header>
            </div>
            </section>
        	<!-- Venue Section Content -->
        	<section class="onepage-section" id="venue">
            	<div class="container">
                	<header class="onepage-section-headers text-align-center">
                    	<h3 class="page-title">Venue</h3>
                    	<h2 class="page-stitle1">Jindal Centre for Social Innovation & Entrepreneurship <br> OP Jindal Global University</h2>
                   		<a href="http://www.jgu.edu.in/" target="_blank" class="btn btn-primary btn-lg">More info about location</a>
                   	</header>
              	</div>
                <div class="venue-view lgray-bg">
                	<div id="gmap"></div>
                	<div class="quick-venue-info">
                    	<div class="quick-venue-info-details">
                            <h3>OP Jindal Global University</h3>
                            <p>Sonipat Narela Road, Near Jagdishpur Village, Sector 35, Sonipat, Haryana 131001, India</p>
                      	</div>
                        <hr class="fw">
                        <span class="small">Current Weather</span>
                    	<div id="weather"></div>
                    </div>
                </div>
                        </div>
                    </div>
                </div>
            </section>
        	<!-- Speakers Section Content -->
            <section class="onepage-section lgray-bg" id="speakers">
                <div class="container">
                    <header class="onepage-section-headers text-align-center">
                        <h3 class="page-title">Participating Staff</h3>
                        <h2 class="page-stitle"></h2>
                    </header>
                                   <div class="col-md-4">
                                <div class="staff-pic">
                                     <%= image_tag('pp.jpg', alt: '') %>
                                    </div>
                                </div>
                     <div class="col-md-8">
                        <div class="staff-text-head">
                        <h5>Pathik Pathak</h5>
                        <h6>Social Impact Lab, University of Southampton</h6>
                        </div>
                        <div class="staff-text-bio"> 
                        <p>Dr Pathik Pathak is Faculty and University Director of Social Enterprise at the University of Southampton and Founding Director of its Social Impact Lab. He is a serial higher education innovator, having launched the UK’s first all-campus Social Enterprise module and designed its first postgraduate ‘pathway’ in social enterprise. Dr Pathak also produced the Spark India social enterprise camp in collaboration with IIM-Ahmedabad, which was a finalist in the Guardian Higher Education Awards (2015) and for which he was personally recognised with the Hind Rattan (Jewel of India) award (2014) and a Times Higher Education Award nomination. As a result of his pioneering work in social entrepreneurship education, Dr Pathak is a Fellow of the Higher Education Academy, the Royal Society of Arts and the Young Foundation. He received his PhD from the University of Warwick and in addition to the monograph The Future of Multicultural Britain (2008) and academic articles on social enterprise and citizenship, he writes on social entrepreneurship and higher education for The Guardian and Times of India, among other publications. 
                        </p>
                            </div>
                            </div>
                            <div class="spacer-40"></div>
                        <!-- Staff 2 -->
                            <div class="col-md-4">
                                <div class="staff-pic">
                                     <%= image_tag('jwade1.jpg', alt: 'logo') %>
                                    </div>
                                </div>
                     <div class="col-md-8">
                        <div class="staff-text-head">
                        <h5>Jeremy Wade</h5>
                         <h6>Jindal Centre for Social Innovation & Entrepreneurship (JSiE), OP Jindal Global University</h6>
                        </div>
                        <div class="staff-text-bio"> 
                        <p>Jeremy is the Founding Director of the Jindal Centre for Social Innovation & Entrepreneurship (JSiE) at OP Jindal Global University. Jeremy started his career with the U.S. Treasury Department where he helped supervise a portfolio of financial institutions in the aftermath of the Global Financial Crisis from 2008-2012. He has also worked in investment banking in Beijing, China and conducted two research projects with the U.S. State Department’s Office of eDiplomacy VSFS program. Jeremy is a Clinton Foundation 20/30 Member and is active in helping build the social enterprise ecosystem in North India. Jeremy has a BBA in Finance and Management from Pittsburg State University and an MA in Diplomacy, Law and Business from the Jindal School of International Affairs.
                        </p>
                            </div>
                            </div>
                            <div class="spacer-40"></div>
                        <!-- Staff 3 -->
                            <div class="col-md-4">
                                <div class="staff-pic">
                                    <%= image_tag('maryam.jpg', alt: 'logo') %>
                                    </div>
                                </div>
                     <div class="col-md-8">
                        <div class="staff-text-head">
                        <h5>Maryam Mohiuddin Ahmed</h5>
                         <h6>Social Innovation Lab, Lahore University of Management Sciences</h6>
                        </div>
                        <div class="staff-text-bio"> 
                        <p> Maryam Mohiuddin Ahmed is the Founder and Co-Director of the Social Innovation Lab at Lahore University of Management Sciences (LUMS), which houses Pakistan's only social enterprise incubator called ‘The Hatchery’. The SIL functions as a hub for Social Innovation in Pakistan, with a unique Community Engagement wing that combines sustainable development with concepts such as human centered design and appropriate technology. Combining this with Consultancy and Research wings, SIL serves as a one-of-kind bridge between academia and the field. Additionally, Maryam is co-founder of ‘Literaty Pakistan, a magazine and a platform aimed at cultural revival by bringing Pakistani youth towards social enterprise. Maryam holds a LL.M. degree from University of California, Berkeley.
                        </p>
                            </div>
                            </div>
                            <div class="spacer-40"></div>
                            <!-- Staff 3 -->
                                <div class="col-md-4">
                                <div class="staff-pic">
                                    <%= image_tag('ab.jpg', alt: 'logo') %>
                                    </div>
                                </div>
                     <div class="col-md-8">
                        <div class="staff-text-head">
                        <h5>Ashish Bharadwaj</h5>
                        <h6>Jindal Centre for Social Innovation & Entrepreneurship (JSiE), OP Jindal Global University</h6>
                        </div>
                        <div class="staff-text-bio"> 
                        <p>Ashish Bharadwaj is Assistant Professor and Assistant Director of the Centre for Intellectual Property and Technology Law (CIPTEL) in Jindal Global Law School. He is an Editor of the Law and Policy Brief and an affiliated faculty at the Centre for Intellectual Property Research, Maurer School of Law, Indiana University, Bloomington. Ashish has a PhD in economics and business from the Max Planck Institute (Munich), LLM in law & economics from Erasmus University Rotterdam, University of Hamburg and University of Manchester, MSc in economics from Madras School of Economics and a BA Honors in economics from Delhi University. Ashish has been a recipient of the Max Planck Society doctoral fellowship (2009 – 2013) and has been an Erasmus Mundus scholar (2008 – 2009). In the past he has worked in different capacities at the Centre for Innovation & Entrepreneurship Research at the Max Planck Institute, OECD, India Development Foundation, Global Markets Centre in Deutsche Bank and World Wide Fund for Nature. Ashish’s research interests include innovation and technology, intellectual property, innovation policy and topics in law & economics. 
                        </p>
                            </div>
                            </div>
                            <div class="spacer-40"></div>              
                            <!-- Staff 3 -->
                                <div class="col-md-4">
                                <div class="staff-pic">
                                    <%= image_tag('josie.jpg', alt: 'logo') %>
                                    </div>
                                </div>
                     <div class="col-md-8">
                        <div class="staff-text-head">
                        <h5>Josie Francis</h5>
                         <h6>Social Impact Lab, University of Southampton</h6>
                        </div>
                        <div class="staff-text-bio"> 
                        <p>Josie is the programme manager for the Social Impact Lab at the University of Southampton. Prior to her appointment, Josie worked in both the private and voluntary sectors in education, training and venture support roles. Josie is an alumnus of Southampton, having achieved a first class undergraduate degree in History and Master’s degrees in both Jewish History and Social Policy and Social Research. 
                        </p>
                            </div>
                            </div>
                            <div class="spacer-40"></div>
                            <!-- Staff 6 -->
                                    <div class="col-md-4">
                                <div class="staff-pic">
                                    <%= image_tag('rahul.jpg', alt: 'logo') %>
                                    </div>
                                </div>
                     <div class="col-md-8">
                        <div class="staff-text-head">
                        <h5>Rahul Nainwal</h5>
                        <h6>UnLtd Delhi</h6>
                        </div>
                        <div class="staff-text-bio"> 
                        <p>Rahul Nainwal, founder of UnLtd Delhi, is a serial social entrepreneur. In 2001 he co-founded iVolunteer and introduced the concept of formal volunteering in India. In 2004 Rahul created iVolunteer Overseas, a first of its kind in India that sends Indians to volunteer in other countries. Till 2012 Rahul was responsible in creating the learning systems for the ICICI Fellows program and has now initiated the India Fellow program. Rahul is an alumnus of Institute of Rural Management (IRMA) and THNK – The Amsterdam school of creative leadership.
                        </p>
                            </div>
                            </div>
                            <div class="spacer-40"></div>
                            <!-- Staff 7 -->
                              <div class="col-md-4">
                                <div class="staff-pic">
                                    <%= image_tag('rs.jpg', alt: 'logo') %>
                                    </div>
                                </div>
                     <div class="col-md-8">
                        <div class="staff-text-head">
                        <h5>Rohini Sen</h5>
                        <h6>Jindal Centre for Social Innovation & Entrepreneurship (JSiE), OP Jindal Global University</h6>
                        </div>
                        <div class="staff-text-bio"> 
                        <p>Rohini is an Assistant Professor and Assistant Dean (International Collaborations) at the Jindal Global Law School, O.P Jindal Global University. She is also an Assistant Director in the Centre for Human Rights Studies, JGLS and a co-founder of the Jindal Centre for Social Innovation and Entrepreneurship (JSiE).  In 2014, Rohini was awarded the VLIR-UOS Scholarship to work with the Leuven Centre for Global Governance Studies in the FRAME project. She has since collaborated with the Centre for subsequent research projects and publications in the area of rule of law and EU-India free trade agreements. She recently participated in the fourth annual junior faculty forum at Florence, in 2015 as one of its laureates. She strongly believes in interdisciplinary research and better integration of the academic and practitioner interface. Rohini has obtained an LL.M. in International Law from the University of Leeds in 2012 and an Undergraduate Degree of B.Sc LLB Law from Gujarat National Law University (2006-2011).
                        </p>
                            </div>
                            </div>
                            <div class="spacer-40"></div>
                            <!-- Staff 8 -->
                            <div class="col-md-4">
                                <div class="staff-pic">
                                    <%= image_tag('saad.jpg', alt: 'logo') %>
                                    </div>
                                </div>
                     <div class="col-md-8">
                        <div class="staff-text-head">
                        <h5>Saad Idrees</h5>
                        <h6>Social Innovation Lab, Lahore University of Management Sciences</h6>
                        </div>
                        <div class="staff-text-bio"> 
                        <p>Saad Idrees is a technology and governance consultant and recently joined as Co-Director at the Social Innovation Lab at Lahore University of Management Sciences (LUMS). Saad started his career in the data industry and has also worked with the corporate sector briefly. As a tech-in-governance consultant, he has spent the last two years helping governments improve governance and service delivery in Punjab and Sindh. Recently, he has also developed an Android-based monitoring system for Khyber-Pakhtunkhwa’s Health Department. Saad graduated with a Bsc. (Hons) in Computer Science from Lahore University of Management Sciences.  
                        </p>
                            </div>
                    </div>
                <div class="spacer-40"></div>
                  <!-- Staff 9 -->
                             <div class="col-md-4">
                                <div class="staff-pic">
                                    <%= image_tag('persaud.jpg', alt: 'logo') %>
                                    </div>
                                </div>
                <div class="col-md-8">
                        <div class="staff-text-head">
                        <h5>Roxanne Persaud</h5>
                        <h6>University of Southampton</h6>
                        </div>
                        <div class="staff-text-bio"> 
                        <p>Roxanne is a doctoral researcher at the University of Southampton, currently investigating how failure is dealt with in social entrepreneurship. Her areas of interest are organisation learning, innovation and leadership in social purpose organisations.   During her 20 year career developing enterprising charities and community-lead projects in the UK and overseas Roxanne completed an MSc in Voluntary Sector Organisation at the London School of Economics, and other postgraduate study in International Development and Social Research Methods.  Roxanne’s recent professional background is in digital engagement and knowledge mobilisation for social research.  She is a Life Fellow of The RSA (Royal Society for the encouragement of Arts, Manufactures and Commerce) and also evaluates projects for the Youth Philanthropy Initiative which awards prize funding for charitable projects in London schools. You can follow her sociopreneurial commentaries on twitter @commutiny.  
                        </p>
                            </div>
                    </div>
                      <div class="spacer-40"></div>
                    <!-- Staff 9 -->
                             <div class="col-md-4">
                                <div class="staff-pic">
                                    <%= image_tag('nabeel.png', alt: 'logo') %>
                                    </div>
                                </div>
                <div class="col-md-8">
                        <div class="staff-text-head">
                        <h5>Nabeel Siraj</h5>
                        <h6>Social Innovation Lab, Lahore University of Management Sciences</h6>
                        </div>
                        <div class="staff-text-bio"> 
                        <p>Nabeel Siraj is a Project Coordinator at the Social Innovation Lab (SIL). He looks over incubation project called "the Hatchery" at SIL. Prior to this, he worked with Teach For Pakistan, an organization working to educate students who belong to underdeveloped and marginalized communities in Pakistan. During his time he introduced "concept-based learning" in the school where he was teaching. Nabeel obtained his undergraduate degree (BSc Honors) in Accounting and Finance from Lahore University of Management Sciences. 
                        </p>
                            </div>
                    </div>
                    </div>
            </section>
            <div class="spacer-40"></div>
        	<!-- Partners Section Content -->
        	<section class="onepage-section lgray-bg" id="partners">
            	<div class="container">
                	<header class="onepage-section-headers text-align-center">
                    	<h3 class="page-title">Partners & Sponsors</h3>
                        <div class="spacer-75"></div>
                    <div class="row text-align-center">
                    	<div class="col-xs-6 col-sm-4">
                            <%= link_to image_tag("lums.png", :target => "_blank", :alt => "Lahore University of Management Sciences"), 'http://www.lums.edu.pk/' %>
                        </div>
                    	<div class="col-xs-6 col-sm-4">
                            <%= link_to image_tag("southampton.jpg", :target => "_blank", :alt => "Southampton"), 'http://www.southampton.ac.uk/' %>
                        </div>
                    	<div class="col-xs-6 col-sm-4">
                        <%= link_to image_tag("jgu.png", :target => "_blank", :alt => "JGU"), 'http://www.jgu.edu.in/' %>
                        </div>
                        <div class="row">
                             </div>
                             <div class="spacer-75"></div>
                    	   <div class="col-xs-6 col-sm-4">
                        <%= link_to image_tag("sil.png", :target => "_blank", :alt => "social innovation lab"), 'http://socinnlab.org/' %>
                        </div>
                             <div class="col-xs-6 col-sm-4">
                        <%= link_to image_tag("bc.png", :target => "_blank", :alt => "BC"), 'http://www.britishcouncil.in/' %>
                            <div class="clearfix visible-xs-block"></div>
                        </div>
                    <%= link_to image_tag("jsielogo.jpg", :target => "_blank", :alt => "JSiE"), 'http://jsie.in/' %>
                            <div class="clearfix visible-xs-block"></div>
                        </div>
                            <div class="row">
                             </div>
                             <div class="spacer-75"></div>
                             <div class="col-xs-6 col-sm-4">
                        <%= link_to image_tag("unltd.gif", :target => "_blank", :alt => "UnLtd Delhi"), 'http://www.unltddelhi.org/' %>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                    <%= link_to image_tag("helpingb.png", :target => "_blank", :alt => "HelpingB"), 'https://www.helpingb.co/' %>
                        </div>
                        <div class="spacer-50"></div>
                    </div>
                    </div>
               	</div>
            </section>

            <!-- Media Section Content -->
            <section class="onepage-section" id="media">
                <div class="container">
                    <header class="onepage-section-headers text-align-center">
                        <h3 class="page-title">In the Media</h3>
                    </header>
                    <div class="row text-align-center">
                        <div class="col-md-3 col-sm-3 col-xs-6">
                        <%= link_to image_tag("NDTVPrime.jpg", :target => "_blank", :alt => "NDTV"), 'http://www.ndtv.com/video/player/heads-up/students-without-borders/383427' %>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <%= link_to image_tag("moneycontrol.gif", :target => "_blank", :alt => "Money Control"), 'http://www.moneycontrol.com/news/wire-news/india-pakistanuk-students-collaborate-to-design-sustainable-ventureswomen-safety-atinternational-social-innovation-challenge_2879201.html' %>
                        </div>
                         <div class="col-md-3 col-sm-3 col-xs-6">
                            <%= link_to image_tag("educationinsider.jpg", :target => "_blank", :alt => "Education Insider"), 'http://www.educationinsider.net/detail_news.php?id=2445U' %>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                         <%= link_to image_tag("bloc.jpg", :target => "_blank", :alt => "BusinessLine"), 'hhttp://www.bloncampus.com/b-school-corner/students-to-design-venture-on-women-safety/article7608088.ece' %>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="spacer-50"></div>
            </section>
        	
    <!-- Start site footer -->
    <footer class="site-footer lgray-bg padding-tb50" id="footer">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-4 col-sm-4 footer-widget">
                	<h4 class="widgettitle">About ISIC-15</h4>
                    <p>A “collab-etiton” bringing together top students from India, Pakistan and the UK to design solutions to the pressing global social challenge of empowering women through safer communities. </p>
                </div>
            	<div class="col-md-4 col-sm-4 footer-widget">
                	<h4 class="widgettitle">Twitter Updates</h4>
                    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/hashtag/isic15" data-widget-id="623869194933678080">#isic15 Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Start site footer bottom -->
    <footer class="site-footer-bottom padding-tb20">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-6 col-sm-6 copyrights-left">
                	 Powered by <a href="http://jsie.in/" target="_blank">Jindal Centre for Social Innovation & Entrepreneurship</a> at <a href="http://www.jgu.edu.in/" target="_blank">OP Jindal Global University</a>
                </div>
                 	</ul>
                </div>
           	</div>
      	</div>
    </footer>
    <!-- End site footer -->
  	<a id="back-to-top"><i class="fa fa-angle-double-up"></i></a> 
    <div class="social-share">
    	<a href="#" class="share-float"><i class="icon-share"></i></a>
    	<ul class="social-icons inversed">
        	<li class="facebook"><a href="https://www.facebook.com/JindalSocialInnovation" target="_blank" title="Share on Facebook"><i class="fa fa-facebook"></i></a></li>
        	<li class="twitter"><a href="https://twitter.com/JSiEin" target="_blank" title="Tweet"><i class="fa fa-twitter"></i></a></li>
        </ul>
   	</div>
</div>